.picture {
  width: 600px;
  height: 100%;
}

.caption-container {
  display: flex;
}

.caption-username {
  margin: 10px;
  font-weight: bold;
}

.caption-username a {
  text-decoration: none;
  color: black;
}

.caption {
  margin-top: 10px;
  margin-bottom: 10px;
  word-break: break-word;
}

.photo-container-outer {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 90px;
  margin-bottom: 50px;
}

.photo-container-inner {
  border: 1px solid rgb(192, 192, 192);
  margin: 10px;
  width: 600px;
}

.photo-container-header {
  /* border: 2px solid red; */
  border-bottom: 1px solid rgb(192, 192, 192);
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.placeholder {
  width: 90%;
}


.commentCounter {
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0px;
  height: 0px;
}

.comment-form {
  width: 100%;
  /* border: 2px solid blue; */
  border-top: 1px solid rgba(138, 138, 138, 0.5);
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}
/*
.commment-form-container {
  width: 100%;
  border: 2px solid blue;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
} */

.smile-icon {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 12px;
}

.comment-form input {
  margin-top: 10px;
  height: 25px;
  width: 500px;
  border: none;
}

.comment-form input:focus{
  outline: none;
}

.comment-container {
  display: flex;
  width: 100%;
  word-break: break-word;
}

.comment-username {
  margin: 10px;
  font-weight: bold;
}

.comment {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 500px;
  word-break: break-word;
}


.timestamp {
  color: grey;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 10px;
}


.view-all-comments {
  color: grey;
  margin-left: 10px;
}

.edit-photo {
  margin-left: 5px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}
