.picture {
  width: 600px;
  height: 100%;
}

.caption-container {
  display: flex;
}

.caption-username {
  margin: 10px;
  font-weight: bold;
}

.caption {
  margin-top: 10px;
  margin-bottom: 10px;

}

.photo-container-outer {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 90px;
}

.photo-container-inner {
  border: 1px solid rgb(192, 192, 192);
  margin: 10px;
}

.photo-container-header {
  /* border: 2px solid red; */
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.placeholder {
  width: 90%;
}


.commentCounter {
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0px;
  height: 0px;
}



.comment-container {
  display: flex;
  width: 100%;
}

.comment-username {
  margin: 10px;
  font-weight: bold;
}

.comment {
  margin-top: 10px;
  margin-bottom: 10px;
}


.timestamp {
  color: grey;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 10px;
}


.view-all-comments {
  color: grey;
  margin-left: 10px;
}

.edit-photo {
  margin-left: 5px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}
