/* .upload-photo {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
} */


.upload-photo {
  /* background-color: red; */
  font-size: 25px;
  font-weight: lighter;
  margin: 15px;
  cursor: pointer;
}


.caption-text {
  /* border: 2px solid red; */
  width: 300px;
  display: flex;
  flex-direction: column;
}

.caption-text textarea {
  height: 100px;
  resize: none;
}

.caption-text label {
  margin-bottom: 5px;
}

.image-url {
  /* border: 2px solid green; */
  width: 300px;
  display: flex;
  flex-direction: column;
}

.image-url label {
  margin-bottom: 5px;
}

.comment-errors.add-photo {
  width: 300px;
}
