/* .upload-photo {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
} */


.upload-photo {
  /* background-color: red; */
  font-size: 25px;
  font-weight: lighter;
}
