

.comment-form {
display: flex;
width: 100%;
}


.submit-button {
  color: rgb(59, 151, 255);
  background-color: white;
  border: none;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.comment-form-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment-errors {
  color: rgb(204, 0, 0);
  word-break: break-word;
}
